/* All lisgintgs  */

.page-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  border: 1px solid #78d3d8;
  box-shadow: 0 0 2px #77e2e8, 0 0 4px #03e9f4;
  cursor: pointer;
  font-size: 32px;
  font-weight: bolder;
  line-height: 30px;
  font-family: "Roboto Slab", serif;
  padding: 5px;
}

.back-to-top:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}

#all-listings {
  font-family: "Staatliches", cursive;
  letter-spacing: 4px;
  color: rgb(77, 210, 234);
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 500px;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 3px;
}

.search-input {
  display: block;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(139, 196, 209);
}

.search-input-textarea {
  display: block;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 10px 10px;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 300;
}

.search-input:hover {
  box-shadow: 0 0 5px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

.search-input:active {
  box-shadow: 0 0 5px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 5px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

.search-input-text:hover {
  box-shadow: 0 0 5px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

.search-submit {
  position: center;
  display: inline-block;
  padding: 10px 10px;
  color: rgb(139, 196, 209);
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 5px;
  letter-spacing: 4px;
  border-radius: 5px;
}

.search-submit:hover {
  border-radius: 20px;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}

.listing-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 900px;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 3px;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 3px #03e9f4;
  }
  to {
    box-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4;
  }
}

.listing-details {
  margin-left: 10px;
  width: 520px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.review-details {
  width: 740px;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#listing-image {
  object-fit: cover;
  width: 300px;
  height: 200px;
  border-radius: 3px;
}

.listing-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: 0.2s;
}

.listing-image span {
  position: absolute;
  display: block;
}

.listing-image span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
}

.listing-image:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.listing-image span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
}

.listing-image:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.listing-image span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
}

.listing-image:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.listing-image span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
}

.listing-image:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.title-bar {
  display: flex;
  align-items: center;
}

#listing-title {
  font-family: "Roboto Slab", serif;
  color: rgb(185, 226, 234);
  font-size: 20pt;
  margin-bottom: 2px;
  text-shadow: 0 0 1px rgb(185, 226, 234);
}

#listing-category {
  margin-left: 10px;
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #78d3d8;
  color: rgb(139, 196, 209);
  background-color: transparent;
  box-shadow: 0 0 2px #77e2e8;
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

#listing-location {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-size: 12pt;
  margin-bottom: 2px;
  color: rgb(137, 192, 202);
  flex-wrap: wrap;
  inline-size: 520px;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  hyphens: auto;
}

#listing-rating {
  font-family: "Roboto Slab", serif;
  margin-bottom: 2px;
  color: rgb(137, 192, 202);
}

#listing-description {
  color: rgb(137, 192, 202);
  font-family: sans-serif;
  margin-bottom: 2px;
  font-size: 14pt;
  flex-wrap: wrap;
  inline-size: 520px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#delete-button {
  margin-left: 5px;
}

#delete-button:hover {
  color: rgb(253, 57, 57);
  text-shadow: 0 0 1px rgb(252, 63, 63);
}

/* listing modals */

.listing-form-container {
  height: auto;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(22, 50, 54, 0.6);
  padding: 50px 35px;
}

.listing-form-container * {
  font-family: "Poppins", sans-serif;
  color: rgb(139, 196, 209);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.listing-form-container h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Staatliches", cursive;
}

.listing-form-errors li {
  list-style-type: none;
  color: red;
  font-family: "Roboto Slab", serif;
}

.listing-label {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.listing-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.file-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  padding: 10px;
  margin-top: 8px;
  font-size: 14pt;
  font-weight: 300;
}

input[type=file]::file-selector-button {
  border-radius: 5px;
  border: 1px solid #78d3d8;
  color: rgb(139, 196, 209);
  background-color: transparent;
  margin-right: 10px;
  box-shadow: 0 0 2px #77e2e8, 0 0 4px #03e9f4;
}

input[type=file]::file-selector-button:hover {
  cursor: pointer;
  color: #03e9f4;
  backdrop-filter: blur(1px);
  box-shadow: 0 0 3px #77e2e8, 0 0 6px #03e9f4;
}

.listing-input-textarea {
  display: block;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 10px 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.listing-input:hover {
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

.listing-input-textarea:hover {
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

.select-label {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.select-label:hover {
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

#listing-submit {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 15px;
  letter-spacing: 4px;
  border-radius: 5px;
}

#listing-submit:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

textarea {
  resize: none;
}

.add-review-button {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #78d3d8;
  box-shadow: 0 0 2px #77e2e8, 0 0 4px #03e9f4;
}

.add-review-button:hover {
  backdrop-filter: blur(1px);
  box-shadow: 0 0 3px #77e2e8, 0 0 6px #03e9f4;
}

/* Delete modals */

.delete-listing-modal {
  height: auto;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(22, 50, 54, 0.6);
  padding: 50px 35px;
}

.delete-listing-modal * {
  font-family: "Roboto Slab", serif;
  color: rgb(139, 196, 209);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

#delete-button {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  letter-spacing: 4px;
  border-radius: 5px;
}

#delete-button:hover {
  background: #f42303;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #f42303, 0 0 25px #f42303, 0 0 50px #f42303,
    0 0 100px #f42303;
}

#cancel-button {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  margin-right: 20px;
  letter-spacing: 4px;
  border-radius: 5px;
}

#cancel-button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#profile-listing {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
}

#profile-listing:hover {
  background: #004ccf;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 5px #004ccf, 0 0 25px #004ccf, 0 0 50px #004ccf,
    0 0 100px #004ccf;
}

#profile-logout {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 27px;
  letter-spacing: 4px;
  border-radius: 5px;
}

#profile-logout:hover {
  background: #f42303;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #f42303, 0 0 25px #f42303, 0 0 50px #f42303,
    0 0 100px #f42303;
}

#card-delete {
  margin-left: 10px;
}

#card-delete:hover {
  color: rgb(243, 11, 11);
  text-shadow: 0 0 5px #f40f03;
}

.review-actions {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.spinner::before {
  --dotted-circle: "\25CC";
  content: var(--dotted-circle);
}

.spinner {
  font-style: normal;
  font-size: 3em;
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.wrapper {
	height: 50px;
	width: 50px;
	margin-left: 15px;
	display: flex;
}

.spinner {
	margin: auto;
}

.listing-loading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listing-loading h3 {
  margin-left: 10px;
  padding-top: 18px;
}
