/* All lisgintgs  */

.page-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#all-listings {
  font-family: "Staatliches", cursive;
  letter-spacing: 4px;
  color: rgb(77, 210, 234);
}

.listing-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 900px;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4;
}

.listing-details {
  width: 450px;
}

.review-details {
  width: 740px;
}

#listing-image {
  width: 300px;
  height: 200px;
  border-radius: 3px;
  margin-right: 10px;
}

#listing-title {
  font-family: "Roboto Slab", serif;
  color: rgb(185, 226, 234);
  font-size: 20pt;
  margin-bottom: 2px;
  text-shadow: 0 0 1px rgb(185, 226, 234);
}

#listing-location {
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-size: 12pt;
  margin-bottom: 2px;
  color: rgb(137, 192, 202);
}

#listing-rating {
  font-family: "Roboto Slab", serif;
  margin-bottom: 2px;
  color: rgb(137, 192, 202);
}

#listing-description {
  color: rgb(137, 192, 202);
  font-family: sans-serif;
  margin-bottom: 2px;
  font-size: 14pt;
}

#delete-button {
  margin-left: 5px;
}

#delete-button:hover {
  color: rgb(253, 57, 57);
  text-shadow: 0 0 1px rgb(252, 63, 63);
}

/* listing modals */

.listing-form-container {
  height: auto;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(22, 50, 54, 0.6);
  padding: 50px 35px;
}

.listing-form-container * {
  font-family: "Poppins", sans-serif;
  color: rgb(139, 196, 209);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.listing-form-container h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Staatliches", cursive;
}

.listing-form-errors li {
  list-style-type: none;
  font-family: "Roboto Slab", serif;
}

.listing-label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.listing-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.listing-input-textarea {
  display: block;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 10px 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.listing-input:hover {
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

.listing-input-textarea:hover {
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

.select-label {
  display: block;
  height: 50px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.select-label:hover {
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

#listing-submit {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  letter-spacing: 4px;
  border-radius: 5px;
}

#listing-submit:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

textarea {
  resize: none;
}

/* Delete modals */

.delete-listing-modal {
  height: auto;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(22, 50, 54, 0.6);
  padding: 50px 35px;
}

.delete-listing-modal * {
  font-family: "Roboto Slab", serif;
  color: rgb(139, 196, 209);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

#delete-button {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  letter-spacing: 4px;
  border-radius: 5px;
}

#delete-button:hover {
  background: #f42303;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #f42303, 0 0 25px #f42303, 0 0 50px #f42303,
    0 0 100px #f42303;
}

#cancel-button {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  margin-right: 20px;
  letter-spacing: 4px;
  border-radius: 5px;
}

#cancel-button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#card-delete {
  margin-left: 10px;
}

#card-delete:hover {
  color: rgb(243, 11, 11);
  text-shadow: 0 0 5px #f40f03;
}

.review-actions {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
