/* Site wide styling */

/* Undo all margins */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Navigation Bar */

.nav-container {
    width: 100%;
    top: 0;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    z-index: 1;
    -webkit-box-shadow: 0 2px 4px -6px #222;
    -moz-box-shadow: 0 2px 4px -6px #222;
    box-shadow: 0 2px 4px -4px #222;
    font-size: 20px;
}

.static-nav,
.logged-in-nav,
.logged-out-nav {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.static-nav li,
.logged-in-nav li,
.logged-out-nav li{
    padding: 10px;
    color: rgb(0, 0, 0);
}

a,
a:link {
    text-decoration: none;
}

a:visited,
a:link:visited {
    color: rgb(0, 0, 0);
}

/* Remove default for buttons and 'a' links */

button, 
a {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}

/* Auth Modals styles */

.auth-form-container {
    height: auto;
    width: 400px;
    background-color: rgba(255,255,255,0.08);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(22, 50, 54, 0.6);
    padding: 50px 35px;
}

.auth-form-container  *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.auth-form-container  h3{
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
}

.auth-label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.auth-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

#auth-submit {
    position: center;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    letter-spacing: 4px;
    border-radius: 5px;
  }
  
  #auth-submit:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  #auth-submit span {
    position: absolute;
    display: block;
  }
  
  #auth-submit span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }