/* Site wide styling */

/* Undo all margins */

body {
  max-width: 100%;
  overflow-x: hidden;
  background: url(./images/full.jpg);
  background-attachment: fixed;
}

/* Starfall effect */

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(90deg);
  z-index: -1;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-90deg, rgb(158, 223, 237), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #03e9f4);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    rgb(158, 223, 237),
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    rgb(158, 223, 237),
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -149px);
  left: calc(50% - 221px);
  -webkit-animation-delay: 2253ms;
  animation-delay: 2253ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 2253ms;
  animation-delay: 2253ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 42px);
  left: calc(50% - 74px);
  -webkit-animation-delay: 2563ms;
  animation-delay: 2563ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 2563ms;
  animation-delay: 2563ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 109px);
  left: calc(50% - 198px);
  -webkit-animation-delay: 3073ms;
  animation-delay: 3073ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 3073ms;
  animation-delay: 3073ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 23px);
  left: calc(50% - 183px);
  -webkit-animation-delay: 5393ms;
  animation-delay: 5393ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 5393ms;
  animation-delay: 5393ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -31px);
  left: calc(50% - 241px);
  -webkit-animation-delay: 634ms;
  animation-delay: 634ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 634ms;
  animation-delay: 634ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 19px);
  left: calc(50% - 208px);
  -webkit-animation-delay: 9940ms;
  animation-delay: 9940ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 9940ms;
  animation-delay: 9940ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 192px);
  left: calc(50% - 27px);
  -webkit-animation-delay: 4522ms;
  animation-delay: 4522ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 4522ms;
  animation-delay: 4522ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -43px);
  left: calc(50% - 124px);
  -webkit-animation-delay: 207ms;
  animation-delay: 207ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 207ms;
  animation-delay: 207ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 176px);
  left: calc(50% - 3px);
  -webkit-animation-delay: 6255ms;
  animation-delay: 6255ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 6255ms;
  animation-delay: 6255ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 70px);
  left: calc(50% - 222px);
  -webkit-animation-delay: 6215ms;
  animation-delay: 6215ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 6215ms;
  animation-delay: 6215ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 2px);
  left: calc(50% - 150px);
  -webkit-animation-delay: 740ms;
  animation-delay: 740ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 740ms;
  animation-delay: 740ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -27px);
  left: calc(50% - 99px);
  -webkit-animation-delay: 7197ms;
  animation-delay: 7197ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 7197ms;
  animation-delay: 7197ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -1px);
  left: calc(50% - 239px);
  -webkit-animation-delay: 6363ms;
  animation-delay: 6363ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 6363ms;
  animation-delay: 6363ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -125px);
  left: calc(50% - 177px);
  -webkit-animation-delay: 5970ms;
  animation-delay: 5970ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 5970ms;
  animation-delay: 5970ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -152px);
  left: calc(50% - 101px);
  -webkit-animation-delay: 4166ms;
  animation-delay: 4166ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 4166ms;
  animation-delay: 4166ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -99px);
  left: calc(50% - 129px);
  -webkit-animation-delay: 6293ms;
  animation-delay: 6293ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 6293ms;
  animation-delay: 6293ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -138px);
  left: calc(50% - 1px);
  -webkit-animation-delay: 5562ms;
  animation-delay: 5562ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 5562ms;
  animation-delay: 5562ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - -134px);
  left: calc(50% - 206px);
  -webkit-animation-delay: 7981ms;
  animation-delay: 7981ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 7981ms;
  animation-delay: 7981ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -17px);
  left: calc(50% - 245px);
  -webkit-animation-delay: 6706ms;
  animation-delay: 6706ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 6706ms;
  animation-delay: 6706ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -128px);
  left: calc(50% - 264px);
  -webkit-animation-delay: 694ms;
  animation-delay: 694ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 694ms;
  animation-delay: 694ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar  */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #03e9f4;
  background: rgb(0, 8, 12);
}

::-webkit-scrollbar-thumb {
  background: #77e2e8;
  border-radius: 8px;
  margin: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #55a0a4;
}

/* Splash Page */

.info {
  color: rgb(98, 149, 160);
  font-size: 26pt;
  text-align: center;
  padding-top: 200px;
  font-family: "Roboto Slab", serif;
}

.info2 {
  color: rgb(141, 179, 187);
  font-size: 16pt;
  text-align: center;
  margin-top: 60px;
  font-family: "Roboto Slab", serif;
}

.info h1 {
  font-family: "Staatliches", cursive;
  letter-spacing: 4px;
  color: rgb(158, 223, 237);
}

.businesses {
  display: flex;
  margin-top: 70px;
  flex-direction: row;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.cards h3 {
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  font-size: 16pt;
  color: rgb(158, 223, 237);
}

.card-image {
  height: 150px;
  width: 250px;
  opacity: 0.75;
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(1);
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4;
  animation: border-animate 6s ease-in-out infinite;
}

.card-image:hover {
  filter: brightness(1.2);
  opacity: 1;
  z-index: 2;
  transform: scale(1.3);
}

/* Navigation Bar */

.nav-container {
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px -6px #222;
  -moz-box-shadow: 0 2px 4px -6px #222;
  box-shadow: 0 2px 4px -4px #222;
  font-size: 16pt;
  background-color: transparent;
}

.static-nav,
.logged-in-nav,
.logged-out-nav {
  display: flex;
  margin-top: 20px;
  margin-right: 150px;
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
}

.logged-in-nav li,
.logged-out-nav li {
  padding: 10px;
  width: 120px;
  margin-left: 10px;
  color: rgb(139, 196, 209);
  overflow: hidden;
  font-size: 16pt;
}

.home-button {
  display: flex;
  margin-left: 150px;
  font-family: "Staatliches", cursive;
  flex-direction: row;
  align-items: center;
  font-size: 20pt;
  letter-spacing: 4px;
}

.logo-image {
  width: 43px;
  height: 50px;
  margin-left: 5px;
}

#logos {
  width: 40px;
  height: 38px;
  opacity: 0.8;
  margin-right: 5px;
}

.logos-div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.name {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: rgb(139, 196, 209);
  margin-bottom: 10px;
}

#nav-buttons {
  text-align: center;
  height: 50px;
  padding: 10px;
}

.listings-button {
  border-radius: 5px;
  border: 1px solid #78d3d8;
  box-shadow: 0 0 2px #77e2e8, 0 0 4px #03e9f4;
}

.listings-button:hover {
  backdrop-filter: blur(1px);
  box-shadow: 0 0 3px #77e2e8, 0 0 6px #03e9f4;
}

a,
a:link {
  text-decoration: none;
  color: rgb(139, 196, 209);
}

a:visited,
a:link:visited {
  color: rgb(139, 196, 209);
}

/* Remove default for buttons and 'a' links */

button,
a {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  font-family: "Roboto Slab", serif;
  color: rgb(139, 196, 209);
  font-size: 16pt;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover,
a:hover {
  color: #89f6fc;
  text-shadow: 0 0 1px #03e9f4;
}

/* Auth Modals styles */

.auth-form-container {
  height: auto;
  width: 980px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(22, 50, 54, 0.6);
  padding: 50px 35px;
}

.auth-form-left {
  height: auto;
  width: 400px;
  border-radius: 10px;
}

.auth-form-right {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  width: 400px;
  border-radius: 10px;
}

.auth-form-right .line {
  position: absolute;
  background-color: rgb(139, 196, 209);
  box-shadow: 0px 0px 12px rgb(139, 196, 209);
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 475px;
  border-radius: 50%;
  overflow: hidden;
}

.auth-form-right .line .scanner {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 3s ease-in-out infinite;
}

@keyframes scanner-loop {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

.login-gif {
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.auth-form-container *,
.auth-form-left *,
.auth-form-right * {
  font-family: "Poppins", sans-serif;
  color: rgb(139, 196, 209);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.auth-form-container h3,
.auth-form-left h3,
.auth-form-right h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Staatliches", cursive;
}

.auth-label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.auth-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.errors-div li {
  list-style-type: none;
  color: red;
  font-family: "Roboto Slab", serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(139, 196, 209);
  -webkit-text-fill-color: rgb(139, 196, 209);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus,
textarea,
textarea:hover,
textarea:focus,
select,
select:hover,
select:focus {
  border: 1px solid rgb(139, 196, 209);
  -webkit-text-fill-color: rgb(139, 196, 209);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.auth-input:hover {
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

::placeholder {
  color: rgb(139, 196, 209);
}

#auth-submit {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  letter-spacing: 4px;
  border-radius: 5px;
}

#auth-submit:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#form-demo {
  margin-top: 20px;
  margin-left: 20px;
}

@media only screen and (min-device-width: 150px) and (max-device-width: 365px) {
  .nav-container {
    width: fit-content;
    top: 0;
    height: auto;
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: 1;
    -webkit-box-shadow: 0 2px 4px -6px #222;
    -moz-box-shadow: 0 2px 4px -6px #222;
    box-shadow: 0 2px 4px -4px #222;
    font-size: 22pt;
    background-color: transparent;
  }

  .static-nav,
  .logged-in-nav,
  .logged-out-nav {
    display: flex;
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
  }

  .logged-in-nav li,
  .logged-out-nav li {
    padding: 10px;
    width: 180px;
    margin-left: 10px;
    color: rgb(139, 196, 209);
    overflow: hidden;
    font-size: 16pt;
  }

  .info {
    margin-left: 360px;
    color: rgb(98, 149, 160);
    font-size: 26pt;
    text-align: center;
    padding-top: 100px;
    font-family: "Roboto Slab", serif;
  }

  .info2 {
    margin-left: 360px;
    color: rgb(141, 179, 187);
    font-size: 16pt;
    text-align: center;
    margin-top: 60px;
    font-family: "Roboto Slab", serif;
  }

  .info h1 {
    font-family: "Staatliches", cursive;
    letter-spacing: 4px;
    color: rgb(158, 223, 237);
  }

  .businesses {
    margin-left: 360px;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    justify-content: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .cards h3 {
    font-family: "Staatliches", cursive;
    letter-spacing: 2px;
    font-size: 35pt;
    color: rgb(158, 223, 237);
  }

  .card-image {
    height: 300px;
    width: 480px;
    opacity: 0.75;
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(1);
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4;
    animation: border-animate 6s ease-in-out infinite;
  }

  .shooting_star {
    position: absolute;
    margin-left: 400px;
    margin-bottom: 400px;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-90deg, rgb(158, 223, 237), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #03e9f4);
    -webkit-animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
  }
}

@media only screen and (min-device-width: 366px) and (max-device-width: 552px) {
  .nav-container {
    width: fit-content;
    top: 0;
    height: auto;
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: 1;
    -webkit-box-shadow: 0 2px 4px -6px #222;
    -moz-box-shadow: 0 2px 4px -6px #222;
    box-shadow: 0 2px 4px -4px #222;
    font-size: 22pt;
    background-color: transparent;
  }

  .static-nav,
  .logged-in-nav,
  .logged-out-nav {
    display: flex;
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
  }

  .logged-in-nav li,
  .logged-out-nav li {
    padding: 10px;
    width: 180px;
    margin-left: 10px;
    color: rgb(139, 196, 209);
    overflow: hidden;
    font-size: 16pt;
  }

  .info {
    margin-left: 360px;
    color: rgb(98, 149, 160);
    font-size: 26pt;
    text-align: center;
    padding-top: 100px;
    font-family: "Roboto Slab", serif;
  }

  .info2 {
    margin-left: 360px;
    color: rgb(141, 179, 187);
    font-size: 16pt;
    text-align: center;
    margin-top: 60px;
    font-family: "Roboto Slab", serif;
  }

  .info h1 {
    font-family: "Staatliches", cursive;
    letter-spacing: 4px;
    color: rgb(158, 223, 237);
  }

  .businesses {
    margin-left: 360px;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    justify-content: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .cards h3 {
    font-family: "Staatliches", cursive;
    letter-spacing: 2px;
    font-size: 35pt;
    color: rgb(158, 223, 237);
  }

  .card-image {
    height: 150px;
    width: 250px;
    opacity: 0.75;
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(1);
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4;
    animation: border-animate 6s ease-in-out infinite;
  }

  .shooting_star {
    position: absolute;
    margin-left: 400px;
    margin-bottom: 400px;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-90deg, rgb(158, 223, 237), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #03e9f4);
    -webkit-animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
  }
}
