/* Site wide styling */

/* Undo all margins */

body {
  max-width: 100%;
  overflow-x: hidden;
  background: url(./components/SplashPage/full.png);
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Splash Page */

.info {
  color: rgb(98, 149, 160);
  font-size: 26pt;
  text-align: center;
  padding-top: 200px;
  font-family: "Roboto Slab", serif;
}

.info2 {
  color: rgb(141, 179, 187);
  font-size: 16pt;
  text-align: center;
  margin-top: 60px;
  font-family: "Roboto Slab", serif;
}

.info h1 {
  font-family: "Staatliches", cursive;
  letter-spacing: 4px;
  color: rgb(158, 223, 237);
}

.businesses {
  display: flex;
  margin-top: 70px;
  flex-direction: row;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.cards h3 {
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  font-size: 16pt;
  color: rgb(158, 223, 237);
}

.card-image {
  height: 150px;
  width: 250px;
  opacity: 0.75;
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(1);
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}

.card-image:hover {
  filter: brightness(1.2);
  opacity: 1;
  z-index: 2;
  transform: scale(1.3);
}

/* Navigation Bar */

.nav-container {
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px -6px #222;
  -moz-box-shadow: 0 2px 4px -6px #222;
  box-shadow: 0 2px 4px -4px #222;
  font-size: 16pt;
  background-color: transparent;
}

.static-nav,
.logged-in-nav,
.logged-out-nav {
  display: flex;
  margin-top: 20px;
  margin-right: 160px;
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
}

.logged-in-nav li,
.logged-out-nav li {
  padding: 10px;
  width: 180px;
  margin-left: 10px;
  color: rgb(139, 196, 209);
  overflow: hidden;
  font-size: 16pt;
}

.home-button {
  display: flex;
  margin-left: 160px;
  font-family: "Staatliches", cursive;
  flex-direction: row;
  align-items: center;
  font-size: 20pt;
  letter-spacing: 4px;
}

.logo-image {
  width: 10%;
  height: 10%;
  margin-left: 5px;
}

a,
a:link {
  text-decoration: none;
  color: rgb(139, 196, 209);
}

a:visited,
a:link:visited {
  color: rgb(139, 196, 209);
}

/* Remove default for buttons and 'a' links */

button,
a {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  font-family: "Roboto Slab", serif;
  color: rgb(139, 196, 209);
  font-size: 16pt;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover,
a:hover {
  color: #89f6fc;
  text-shadow: 0 0 1px #03e9f4;
}

/* Auth Modals styles */

.auth-form-container {
  height: auto;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(22, 50, 54, 0.6);
  padding: 50px 35px;
}

.auth-form-container * {
  font-family: "Poppins", sans-serif;
  color: rgb(139, 196, 209);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.auth-form-container h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Staatliches", cursive;
}

.auth-label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.auth-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

.errors-div li {
  list-style-type: none;
  font-family: "Roboto Slab", serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(139, 196, 209);
  -webkit-text-fill-color: rgb(139, 196, 209);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus,
textarea,
textarea:hover,
textarea:focus,
select,
select:hover,
select:focus {
  border: 1px solid rgb(139, 196, 209);
  -webkit-text-fill-color: rgb(139, 196, 209);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.auth-input:hover {
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
  -webkit-text-fill-color: rgb(139, 196, 209);
}

::placeholder {
  color: rgb(139, 196, 209);
}

#auth-submit {
  position: center;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  letter-spacing: 4px;
  border-radius: 5px;
}

#auth-submit:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

#form-demo {
  margin-top: 20px;
  margin-left: 20px;
}